.menubuttons,.openbutton{
  -fx-background-color: #ffffff00;
}

.menubuttons:hover{
  -fx-background-color: #cccccc;
}

.logininput:focused{

  -fx-focus-color: #14274e;
}

.scroll-bar:vertical{
  -fx-pref-width: 16px;
}

.btnBoatsGrid{
  -fx-background-color: #ccc;
  -fx-content-display: top;
}
